<!-- src/app/components/header/header.component.html -->
<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <a routerLink="/" class="logo-link">
        <img src="assets/images/logonasa.png" alt="NASA Logo" class="nasa-logo">
      </a>
    </div>
    <div class="nav-menu">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" routerLink="/sobre-nosotros" routerLinkActive="active">About us</a>
      <a class="nav-link" routerLink="/contactanos" routerLinkActive="active">Contact</a>
    </div>
  </div>
</nav>