<!-- src/app/components/home/home.component.html -->
<div class="home-container">
  <div class="hero-section">
    <div class="overlay"></div>
    <div class="content-wrapper">
      <h1 class="main-title">BioterrisOne</h1>
      <p class="tagline">Data that transforms evidence into action</p>
      
      <!-- Botón circular con imagen de fondo -->
      <button class="map-button" routerLink="/map">
        <!-- El contenido del botón puede estar vacío o tener un texto -->
      </button>
    </div>
  </div>
</div>